.App {
  text-align: center;
  background-color: rgb(229, 234, 238);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: rgb(250, 250, 250);
  background-color: rgb(44, 44, 97);
  width: 20vw;
  position: fixed;
  left: 80vw;
}

.title {
  font-size: 100%;
  font-family:Verdana, sans-serif;
}

.plus {
  width: 8vw;
  height: auto;
  background-color: rgb(44, 44, 97);
  border: none;
  border-radius: 30px;
}

.popup {
  background-color: grey;
}