@media only screen and (max-width: 600px) {
}

.App {
  text-align: center;
  height: auto;
  padding-bottom: 76.5vh;
  font-family: Gill Sans, sans-serif;
  background-color: rgb(190, 188, 202);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: rgb(250, 250, 250);
  background-image: linear-gradient(to bottom right, rgb(36, 36, 158), rgb(79, 59, 255));
  width: 20vw;
  position: fixed;
  left: 80vw;
}

.plus {
  width: 8vw;
  color: white;
  height: auto;
  margin-top: 5vh;
  padding: 15%;
  border: 5px solid rgb(59, 59, 129);
  background-color: rgb(27, 27, 90);
  border-radius: 50px;
  position: relative;
  transition: all 100ms ease-in-out;
  box-shadow: 0 0.6em rgb(34, 34, 63), 0 0.9em rgba(0, 0, 0, 0.4);
}

.plus.plus2:active {
  top: 0.6em;
  box-shadow: 0 0.2em rgba(0, 0, 0, 0.4);
}

.popup {
  width: auto;
  background-color: rgb(36, 36, 158); 
}

.modal-dialog {
  max-width: 80vw !important;
}

.ModalTitle {
  color: white;
    
}

.modal-content {
  width: auto;
}


.textarea {
  color: black;
  width: 22vw;
  height: 5vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px lightgrey;
  border-radius: 2%;
  padding: 2%;
}

.eventtextarea {
  height: 50vh;
}

.white {
  color: white;
}

.closeButton {
  color: white;
  float: right;
  background-color: rgba(0,0,0,0);
  border: none;
  font-size: 150%;
}

.backButton {
  color: white;
  background-color: rgba(0,0,0,0);
  border: none;
  font-size: 200%;
}

.button {
  margin: 1%;
}

.requestButton {
  background-color: white;
  font-size: 75%;
  border: 1px solid rgb(216, 216, 228);
  padding: 4%;
  width: 10vw;
  border-radius: 10px;
  box-shadow: 0 0.3em rgb(124, 124, 155);
  margin-bottom: 10vh;
  margin-top: 15vh;
}

.menu {
  display: block;
  align-items: center;
  margin: 1vh 5vw 1vh 5vw;
}

.menuButton {
  background-color: white;
  font-size: 75%;
  border: 1px solid rgb(216, 216, 228);
  padding: 4%;
  width: 10vw;
  border-radius: 10px;
  box-shadow: 0 0.3em rgb(124, 124, 155);
  margin-top: 7%;
}

.logo {
  width: 13vw;
  height: auto;
  margin: 3vh 0 3vh 0;
}

.testPopup {
  display: block;
  background-color: rgb(255, 255, 167);
  width: 200%;
}

.modal-header {
  background-color: rgb(36, 36, 167);
  color: white;
}

figcaption {
  position: absolute;
  font-size: 1.5vw;
  color: white;
  padding: 0.1% 0.5%;
}

.Table {
  width: 80vw;
  font-size: 150%;
}

tr {
  background-color: white;
}

td {
  height: 5vh;
}

.Omschrijving {
  width: 20vw;
}

#dropdownMenu {
  display: none;
  color: black;
  background-color: white;
  font-size: 75%;
  border: 1px solid rgb(216, 216, 228);
  padding: 4%;
  width: 10vw;
  border-radius: 10px;
  box-shadow: 0 0.3em rgb(124, 124, 155);
  margin-top: 7%;
}

@media only screen and (max-width: 1300px) {
  .menuButton {
    font-size: 50%;
    width: 16vw;
  }
  .requestButton {
    font-size: 50%;
    width: 16vw;
  }
  figcaption {
    font-size: 1.2vw;
  }
  .plus {
    border: 1px solid rgb(59, 59, 129);
  }
  .Table {
    font-size: 100%;
  }

}

@media only screen and (max-width: 720px) {
  .Table {
    width: 100vw;
    margin-top: 100px;
  }
  .App-header {
    min-height: 100px;
    max-height: 100px;
    min-width: 100vw;
    left: 0vw;
    flex-direction: row;
    margin-top: -100px;
  }
.logo {
  margin: 3vh 0 3vh 3vw;
  }
  .plus {
    margin-top: -3vh;
  }
  .menu {
    width: auto;
  }
  .menuButton {
    padding: 1px;
    width: 10vw;
    border-radius: 1vw;
    height: 10vh;
    font-size: 50%;
    font-weight: bold;
    margin: 5vh auto;
  }
  .requestButton {
    position: absolute;
    padding: 1px;
    width: 30vw;
    border-radius: 1vw;
    height: 10vh;
    font-size: 100%;
    font-weight: bold;
    margin: 5vh auto 5vh 65vw;
    position: absolute;
  }
  .Table {
    font-size: 100%;
  }
  #dropdownMenu {
    display: initial;
    padding: 1px;
    border-radius: 1vw;
    height: 10vh;
    font-size: 100%;
    font-weight: bold;
    margin: 5vh auto;
    width: 26vw;
  }
  .hide {
    display: none;
  }
}
