.App {
  text-align: center;
  background-color: rgb(229, 234, 238);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: rgb(250, 250, 250);
  background-color: rgb(44, 44, 97);
  width: 20vw;
  position: fixed;
  left: 80vw;
}

.title {
  font-size: 150%;
  font-family:Verdana, sans-serif;
  margin-top: 5vh;
}

.plus {
  width: 8vw;
  height: auto;
  background-color: rgb(44, 44, 97);
  border: none;
  border-radius: 30px;
  margin-top: 5vh;
}

.popup {
  background-color: rgb(44, 44, 97);
  width: 100%;
}

.ModalTitle {
  color: white;
}

.textarea {
  color: black;
  width: 20vw;
  height: 50vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.white {
  color: white;
}

.closeButton {
  color: white;
  float: right;
  background-color: rgba(0,0,0,0);
  border: none;
  font-size: 150%;
}
